<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_only"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_only"
        android:supportsRtl="true"
        android:theme="@style/Theme.Klinikcaremobile.Starting"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.roles.Roles"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.login.activity.login_user"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.register.activity.register_user"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.register.activity.register_petugas"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.login.activity.login_petugas"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.home.activity.home_pasien"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.home.activity.home_petugas"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.profile.activity.profile_user"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.profile.activity.profile_petugas"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.register.responses.success_registered"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.register.responses.successOfficer_registered"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.appointment.activity.appointment"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.appointment.activity.ticket_info"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.appointment.activity.ticket_cancel_success"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.antrian.activity.daftar_pemeriksaan"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.diagnosa.activity.create_diagnosa"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.diagnosa.response.success_diagnosa"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.petugas.riwayat.activity.riwayat_pemeriksaan"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
        <activity
            android:name=".features.pasien.records.activity.hasil_diagnosa"
            android:exported="true"
            android:theme="@style/Theme.Klinikcaremobile" />
    </application>

</manifest>